@page
@model UI.Pages.GestionInformes.GraficompraModel
@{
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script type="module">

    import CreateTableInforme from "../CoreComponents/InformeComponent.js";

    const CargarDatos = async () => {
        //let UrlP = "../api/InformeVenta/TakeInformeVentaGrafico";
        let UrlP = "../api/Informes/TakeInformecompraGrafico";
        const ObjInst = {

        }

        let response = await fetch(UrlP, {
            method: "POST",
            headers: {
                'Content-Type': "application/json; charset-utf-8",
                'Accept': "/"
            },
            body: JSON.stringify(ObjInst)
        });

        response = await response.json();
        console.log(response);
        //labelSubtitle.innerText = "Informe general de la VENTA";
        //CreateTableInforme(response, Mes, ["Mes"]);
        //CreateTableInforme(response, Cantidad, ["Cantidad"]);

        var arrayMes = [];
        var arrayCantidad = [];
        let sum = 0;
        response.forEach(element => {
            arrayMes.push(element.mes)
            arrayCantidad.push(element.cantidad)
        });

        const ctx = document.getElementById('myChart');

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: arrayMes,
                datasets: [{
                    label: 'Compras Por Mes',
                    data: arrayCantidad,
                    backgroundColor: ["#03B100", "#0083B1", "#0800B1"],
                    borderColor: "#000000",
                    borderWidth: 1,
                }]
            },
            options: {
            indexAxis: 'y',
    // Elements options apply to all of the options unless overridden in a dataset
    // In this case, we are setting the border of each horizontal bar to be 2px wide
            elements: {
            bar: {
                borderWidth: 2,
            }
            },
            responsive: true,
            plugins: {
            legend: {
                position: 'right',
            },
            title: {
                display: true,
                text: 'Chart.js Horizontal Bar Chart'
            }
            }
        },

                });

    }

    window.onload = async () => {
        CargarDatos();

    }

</script>

<section class = "graficocompra">

    <div class="ContenedorGrafico">
        <canvas id="myChart" width="2300" height="900"></canvas>
    </div> 
    </section>