
@using Microsoft.AspNetCore.Identity;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UI</title>
    <link rel="stylesheet" href="~/css/theme.css"/>
    <script src="https://kit.fontawesome.com/6e53552836.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header">
        MENU
    </header>
    <nav class="nav1">

        <input type="button" class="btncerrarsesion" id="cerrar" value="Cerrar Sesion"/>
    </nav>
    <aside class="AppAside">
        <ul class="list">
         @*   <li class="list-item">
                <div class="list__button">
                    <i class="fa-solid fa-user"></i>
                    <a href="~/login" class="nav__link">Login</a>
                </div>
            </li>*@
           @if(User.IsInRole("1") || User.IsInRole("2"))
            {
                 <li class="list-item">
               <div class="list__button">
                   <i class="fa-solid fa-house"></i>
                  <a href="~/Inicio/Inicio" class="nav__link">Inicio</a>
               </div>
               </li>
            }
          
                 @if(User.IsInRole("1") || User.IsInRole("2"))
            {
                  <li class="list-item">
               <div class="list__button">
                   <i class="fa-solid fa-rectangle-list"></i>
                    <a href="~/ViewCatalogos"  class="nav__link"> Mantenimiento de Catalogos</a>
               </div>
           </li>
            }
          @if(User.IsInRole("1"))
                 {
                  <li class="list-item">
                   <div class="list__button">
                             <i class="fa-solid fa-bag-shopping"></i>
                          <a href="~/GestionUsuario/GestionUsuario"  class="nav__link"> Gestion Usuario</a>
                      </div>

                    </li>
              }
              @if(User.IsInRole("1"))
                 {
                  <li class="list-item">
                   <div class="list__button">
                             <i class="fa-solid fa-bag-shopping"></i>
                          <a href="~/GestionCompras/Compra"  class="nav__link"> Gestion Compra</a>
                      </div>

                    </li>
              }
         
            @if (User.IsInRole("1"))
            {
                  <li class="list-item">

               <div class="list__button">
                         <i class="fa-solid fa-cart-shopping"></i>
                       <a href="~/AdminMercancia/AdminMercanciaView"  class="nav__link"> Administracion Mercancia</a>
               </div>

           </li>
            }
            @if (User.IsInRole("2"))
            {
                <li  class="list-item">

              <div class="list__button">
                  <i class="fa-solid fa-list-check"></i>
                  <a href="~/GestionArticulos/GestionArticulosVendedor"  class="nav__link">Gestion Articulos</a></div> 

            </li>
            }
           
            @if(User.IsInRole("1") || User.IsInRole("2"))
            {
                 <li class="list-item">  
                   <div class="list__button">
                       <i class="fa-solid fa-store"></i>
                  <a href="~/GestionVentas/Ventas"  class="nav__link">Gestion Ventas</a>
               </div>

            </li>
            }
           
            @if(User.IsInRole("1") || User.IsInRole("2"))
            {
                  <li class="list-item list__item--click">
               <div class="list__button list__button--click">
                   <i class="fa-regular fa-file"></i>
                    <a href="#" class="nav__link">Gestion reportes </a>
                   @* <img src="../image/Arrow.png" class="list__arrow"/>*@
                   <i class=" list__arrow fa-solid fa-chevron-right"></i>
               </div>
                <ul class="list__show"> 
                   <li class="list__inside">
                       <a href="~/GestionInformes/ViewInforme1"  class="nav__link nav__link--inside">Reporte Venta</a> 
                       </li>
                   <li class="list__inside">
                       <a href="~/GestionInformes/ViewInformeCompra1"  class="nav__link nav__link--inside">Reporte compra</a> 
                       </li>
                   <li class="list__inside">
                       <a href="~/GestionInformes/ViewInformeArticulo1"  class="nav__link nav__link--inside">Reporte Articulo</a> 
                       </li>
                </ul>         
           </li>
            }
          
        </ul>
    </aside>
    <script src="~/CoreComponents/utilidades.js"> </script>
     <script src="~/CoreComponents/CerrarSesion.js"> </script>
   
    <main role="main" class="AppMain">
            @RenderBody()
        </main>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>