<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UI</title>
    <link rel="stylesheet" href="~/css/theme.css"/>
</head>
<body>
    <header class="header">
        AppMain
    </header>
    <nav class="nav1">
    </nav>
    <aside class="AppAside">
        <nav class="nav2">
            <a href="~/Index">Inicio</a>
            <a href="~/ViewCatalogos"> Mantenimineto de Catalogos</a>
<<<<<<< HEAD
            <a href="~/GestionCompras/Compra"> Ingresar Compras</a>
=======
            <a href="~/GestionCompras/Compra"> Ingresar Compras prueba</a>
>>>>>>> 9525f0e80edeae5d1e7188c13295493f9322cdae
            <a href="~/AdminMercancia/AdminMercanciaView"> Administracion Mercancia</a>


        </nav>
    </aside>
    <main role="main" class="AppMain">
            @RenderBody()
        </main>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>