<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UI</title>
    <link rel="stylesheet" href="~/css/theme.css"/>
</head>

<body>
    <header class="header">
        MENU
    </header>
    <nav class="nav1">
    </nav>
    <aside class="AppAside">
        <nav class="nav2">
            <a href="~/Index">Inicio</a>
            <a href="~/ViewCatalogos"> Mantenimiento de Catalogos</a>
            <a href="~/GestionCompras/Compra"> Gestion Compra</a>
            <a href="~/AdminMercancia/AdminMercanciaView"> Administracion Mercancia</a>
            <a href="~/GestionArticulos/GestionArticulos">Gestion de Articulos</a>
            <a href="~/GestionVentas/Ventas">Gestion Ventas</a>
        </nav>
    </aside>
    <main role="main" class="AppMain">
            @RenderBody()
        </main>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>