@page
@model UI.Pages.DiseñoModel
@{
}
<div class="FormContainer1">
    <input type="button" class="btn" value="Accept" />
    <input type="button" class="btn_primary" value="Accept" />
    <input type="button" class="btn_secundary" value="Accept" />
</div>
<div class="FormContainer2">
    <input type="text" class="text" value="Accept" />
    <input type="text" class="text_primary" value="Accept" />
    <input type="text" class="text_secundary" value="Accept" />
</div>
<div class="FormContainer2">
    <input type="button" class="btn" value="Accept" />
    <input type="button" class="btn_primary" value="Accept" />
    <input type="button" class="btn_secundary" value="Accept" />
</div>

<table class="tableClass1">
    <thead>
    <th>header 1</th>
    <th>header 2</th>
    <th>header 3</th>
    </thead>
    <tbody>
        <tr>
            <td>dato 1</td>
            <td>dato 2</td>
            <td>dato 3</td>
        </tr>
        <tr>
            <td>dato 1</td>
            <td>dato 2</td>
            <td>dato 3</td>
        </tr>
    </tbody>
 </table>
