@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = null;

}
<script>
   /*window.onload = async ()=>{
       await fetch("api/MantenimientoCatalogos/GetCategorias", {
            method: 'POST',
            body: JSON.stringify({}),
            headers: {
                'Content-Type': 'application/json'
            }
        })

        await fetch("api/MantenimientoCatalogos/SaveCategorias", {
            method: 'POST',
            body: JSON.stringify({
                Activo: true,
                Descripcioncategoria: "Prueba de guardado",
                Nombrecategoria: "Prueba"
            }),
            headers: {
                'Content-Type': 'application/json'
            }
        })

        await fetch("api/MantenimientoCatalogos/UpdateCategorias", {
            method: 'POST',
            body: JSON.stringify({
                Activo: false,
                Descripcioncategoria: "Prueba de update",
                Idcategoria: 38,
                Nombrecategoria: "update",
            }),
            headers: {
                'Content-Type': 'application/json'
            }
        })
    }*/
</script>
@*<script src="~/App.js" type="module"></script>*@
      <link rel="stylesheet" href="~/css/login.css" />
<div id="AppMain">
    <partial name = "~/Views/Acceso/Index.cshtml" />
  
</div>
