
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<!DOCTYPE html>
            <html lang="en">

            <head>

            <title>LOGIN</title>
            <link rel="stylesheet" href="~/css/login.css" />
             <script src="https://kit.fontawesome.com/6e53552836.js" crossorigin="anonymous"></script>
          </head>
          
          <body>
          <div id="title">
          <h4>Libreria Maria Auxiliadora</h4>
            </div>
            <div id="card">
              <div id="card-content">
                <div id="card-title">
               
                 <img src="~/image/User.png" class="userlogo"  />
                     @* <h4>Libreria Maria Auxiliadora</h4>*@
                </div>
                <form action="../../Acceso/Index" method="post" class="form">
                  <label for="user-email" style="padding-top:13px"><i class="fa-solid fa-user"></i>
                      &nbsp;User
                    </label>
                  <input id="user-email" class="form-content" type="text" name="Nombre" autocomplete="on" required />
                  <div class="form-border"></div>
                  <label for="user-password" style="padding-top:63px"><i class="fa-solid fa-key"></i>&nbsp;Password
                    </label>
                  <input id="user-password" class="form-content" type="password" name="Contrasena" required />
                  <div class="form-border"></div>
                 
                  <input id="submit-btn" type="submit" name="submit" value="LOGIN" />
                </form>
              </div>
            </div>
          </body>
            </html>