.FormContainer1, .FormContainer2 {
    display: grid;
    padding: 15px;
    grid-template-columns: calc(50% - 20px) calc(50% - 20px);
    grid-gap: 10px;
    
    margin-bottom: 15px;
    border-radius: 0.4cm;
    box-shadow: 0 0px 2px 3px rgba(6, 6, 6, 0.2);
}

.FormContainer2 {
    grid-template-columns: calc(33% - 10px) calc(33% - 10px) calc(33% - 10px);
}
/******  *****/

.btn_primary
 {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-font-primary);
    background-color: var(--color-cinco);
    border: none;
    box-sizing: border-box;
    border-radius: 0.4cm;
    font-weight: bold;
    cursor: pointer;
}
.btn_tercero,
.btn_cuarto {
    border: 3px solid rgb(100, 100, 100,0.1);
    padding: 10px;
    width: 350px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(242, 233, 233);
    cursor: pointer;
    border-radius: 20px;
    background-size: 300px;
    transition: 0.4s;
}
.btn_quinto{
    border: 3px solid rgb(100, 100, 100,0.1);
    padding: 10px;
    width: 250px;
    margin-left: 75%;
    font-size: 16px;
    font-weight: bold;
    color: rgb(242, 233, 233);
    cursor: pointer;
    border-radius: 20px;
    background-size: 300px;
    transition: 0.4s;
}
.btn_cuarto:hover,
.btn_tercero:hover {
    background-position: right;
}
.btn_tercero,
.btn_cuarto,
.btn_quinto
{
    background-image: linear-gradient(to left, #00b7da,
    #161569,#0087da);
}
.btn_tercero{
    margin-left: -140px;
}
/**************************************/
/****AQUI PRUEBEN BOTONES EN GESTION VENTA (generales)****/
/**************************************/


.button_top {

    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: #e91555;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
.button_top:hover {
  background-color: #ff4d82;
  box-shadow: 0px 15px 20px #ffb0c8;
    color: #fff;
    transform: translateY(-7px);
  }
  
.button_top:active {
    transform: translateY(-1px);
  }
/****** Topp ********/
  .button_topp {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: #e91555;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
.button_topp:hover {
  background-color: #ff4d82;
  box-shadow: 0px 15px 20px #ffb0c8;
    color: #fff;
    transform: translateY(-7px);
  }
  
.button_topp:active {
    transform: translateY(-1px);
  }
/*/********boton de devolucion refactura**********/
.button_refactura{
  position: absolute;
  right: 50px;
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  background-color: #e91555;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button_refactura:hover {
background-color: #ff4d82;
box-shadow: 0px 15px 20px #ffb0c8;
  color: #fff;
  transform: translateY(-7px);
}

.button_refactura:active {
  transform: translateY(-1px);
}
  


  /******* BOTONES DE AGREGAR AQUI **********/

  .btnagregar {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
    background-color: #e91555;
    color: #fff;
    border: none;
    border-radius: 45px;
    transition: all .2s;
   }
   
   .btnagregar:hover {
    border-radius: 45px;
    transform: translateY(-10px);
    box-shadow: 0 7px 0 -2px #e73d70,
    0 15px 0 -4px #ff7aa2,
    0 16px 10px -3px #c92b5a;
   }
   
   /* .btnagregar:active {
    transition: all 0.2s;
    transform: translateY(-5px);
    box-shadow: 0 2px 0 -2px #05ff65,
     0 8px 0 -4px #0267ff,
     0 12px 10px -3px #0267ff;
   } */

/**************************************/

.btn_primary {
    background-color: var(--color-primary);
}
/**********boton de x***************/
.btn_secundary {
        --primary-color: #ff4d82;
        --secondary-color: #fff;
        --hover-color: rgb(128, 35, 35);
        box-sizing: border-box;
        border: 0;
        border-radius: 20px;
        color: var(--secondary-color);
        padding: 0.8em 1.8em;
        background: var(--primary-color);
        display: flex;
        transition: 0.2s;
        align-items: center;
        gap: 0.6em;
        font-weight: bold;
        cursor: pointer;
      }
      
     .btn_secundary:hover {
        background-color: var(--hover-color);
        color: #ff7575;
      }
      
/**************************************/

/****** botones de editar y mover *****/
.btn {
    --c: #fff;
   /* text color */
    background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%) var(--_p,100%)/300% no-repeat,
    #e91555;
   /* background color */
    color: #0000;
    border: none;
    transform: perspective(500px) rotateY(calc(20deg*var(--_i,-1)));
    text-shadow: calc(var(--_i,-1)* 0.08em) -.01em 0   var(--c),
      calc(var(--_i,-1)*-0.08em)  .01em 2px #0004;
    outline-offset: .1em;
    transition: 0.3s;
  }
  
  .btn:hover,
  .btn:focus-visible {
    --_p: 0%;
    --_i: 1;
  }
  
  .btn:active {
    text-shadow: none;
    color: var(--c);
    box-shadow: inset 0 0 9e9q #0005;
    transition: 0s;
  }
  
  .btn {
    font-family: system-ui, sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 2.5px;
    cursor: pointer;
    padding: .1em .3em;
    border-radius: 20px;
  }
  /********boton cerrar sesiob***********/
  .btncerrarsesion{
    --c: #fff;
    /* text color */
     background-color:rgb(29, 157, 216);
    /* background color */
     color: #0000;
     border: none;
     /*transform: perspective(500px) rotateY(calc(20deg*var(--_i,-1)));
     */text-shadow: calc(var(--_i,-1)* 0.08em) -.01em 0   var(--c),
       calc(var(--_i,-1)*-0.08em)  .01em 2px #0004;
     outline-offset: .1em;
     transition: 0.3s;
  }
  .btncerrarsesion:hover,
  .btncerrarsesion:focus-visible {
    --_p: 0%;
    --_i: 1;
  }
  
  .btncerrarsesion:active {
    text-shadow: none;
    color: var(--c);
    box-shadow: inset 0 0 9e9q #0005;
    transition: 0s;
  }
  .btncerrarsesion{
    font-family: system-ui, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 2.5px;
    cursor: pointer;
    width: 12%;
    height: 60%;
    border-radius: 15px;
  }
/**********************************/
.text, .text_primary,
.text_secundary {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--color-font-main);
    background-color: var(--color-main);
    box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 0.4cm;
    border: none;
    width: calc(100%);
    font-size: 15px;
    color: rgb(83, 82, 82);
    font-weight: bold;
}

.tableClass1 {
    width: 100%;
    box-shadow: 0 0px 3px 5px rgba(6, 6, 6, 0.2);
    padding: 0px;
    overflow: hidden;
    border-radius: 0.3cm;
    border-collapse: collapse;
    margin-bottom: 15px;
}

.tableClass1 th {
    color: var(--color-font-main);
    border: none;
    border-bottom: 1px solid #3b3535;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px;
    text-align: left;
    vertical-align: middle;
}

.tableClass1 td {
    padding: 10px;
    margin: 0px;
    text-align: left;
    text-transform: capitalize;
}

.tableClass1 tbody tr:nth-child(odd) {
    background: #EBEBEB;
}

.checkbox{
    cursor: pointer;
    height: 20px;
    width: 20px;
    display: block;
    margin: 8px;
}
.FormElement{
   display: grid;
   grid-template-rows: 30px auto; 
   justify-items: center;
}
.TabMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.TabMenu label{
    margin-left: 10px;
    font-size: 22px;
    font-weight: 550;
    color: black;
    border-bottom: var(--color-cuarto) solid 2px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.5s;
}
.TabMenu label:hover{
  color: #d6104b;
}
