body {
    display: grid;
    margin: 0px;
    padding: 0px;
    grid-template-rows: 50px calc(100vh - 50px);
    grid-template-columns: 200px calc(100% - 200px);
    font-family: Arial;
   
    background-image: linear-gradient(
        #cbad6d,#cbad6d,#9bafc3,#cbad6d);
    background-size: 200% 200%;
    /*animation: fanimado 4s linear infinite alternate;*/
}
@keyframes fanimado{
   from {
    background-position: 0 0;
   }
   to{
    background-position: 100% 100%;
   }
}

.header, .nav1 {
    background-color: #62819f;
    color: var(--color-font-cuarto);
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.5);
}

.nav1 {
    justify-content: flex-end;
    padding-right: 20px;
}

.AppAside {
    background-image: linear-gradient(135deg,
    #cbad6d,#398BDC,#cbad6d);
    border: 2px solid white;
   
}

.nav2 {
    color: var(--color-font-terciario);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    padding: 20px;
    
}

.nav2 a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    border-bottom: 2px solid inherit;
    transition: all 0.5s;
}

.nav2 a:hover {
    color: black;
    border-bottom: 2px solid var(--color-font-terciario);
}

.AppMain{
    padding: 20px;
    overflow-x: auto;
    overflow-y: auto;
    font-weight: bold;
    font-size: 20px;
    color:black;

}
.AppMain section{
   
    height: 50vh;
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.AppMain section h1{
    color: white;
    font-size: 50px;
    font-weight: bold;
}