body {
    display: grid;
    margin: 0px;
    padding: 0px;
    grid-template-rows: 50px calc(100vh - 50px);
    grid-template-columns: 200px calc(100% - 200px);
    font-family: Arial;
   
    background-image: linear-gradient(135deg, #cbad6d,#398BDC,#cbad6d);

    background-size: 200% 200%;
    /*animation: fanimado 4s linear infinite alternate;*/
}
@keyframes fanimado{
   from {
    background-position: 0 0;
   }
   to{
    background-position: 100% 100%;
   }
}

.header, .nav1 {
    background-color: #62819f;
    color: var(--color-font-cuarto);
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.5);
}

.nav1 {
    justify-content: flex-end;
    padding-right: 20px;
}

.AppAside {
    background-image: linear-gradient(135deg,
    #cbad6d,#398BDC,#cbad6d);
    border: 1px solid white;
   
}
.AppAside i{
    color: white;
    font-size: 20px;
}


.nav__link{
    color: white;
    display: block;
    padding: 15px 0;
    text-decoration: none;
    font-size: 21px;
    
}

.nav__link--inside{
    border-radius: 6px;
    padding-left: 0px;
    text-align: left;
}
.nav__link--inside:hover{
    background: rgba(255, 255,0,0.1);
    border-radius: 12px;
}
.list{
    display: flex;
    padding: 25px;
    flex-direction: column;
    border-radius: 0 16px 16px 0;
  /*background: white;*/
}

.list-item{
    list-style: none;
    width: 100%;
   overflow: hidden;
   border-bottom: 2px solid inherit;
   border-radius: 12px;
   
}
.list-item:hover{
    background: rgba(255, 255,0,0.20);
    border-bottom: 2px solid white;
}

.list__item--click{
    cursor: pointer;
}
.list__button{
    display: flex;
    align-items: center;
    gap: 1em;
    width: 100%;
    margin: 2px auto;
    
}
.list__show{
    
    margin-left: 15px;
    border-left: 1px solid #f8f8f9;
    list-style: none;
    transition: heigh .4s;
    height: 0;
}
.arrow .list__arrow{ 
    transform: rotate(90deg);
}
.list__arrow{
    
    width: 22px;
}


/*
.nav2 li a {
        text-decoration: none;
    color: var(--color-font-terciario);
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    border-bottom: 2px solid inherit;
    transition: all 0.5s;
    margin: 0px;
}
.AppAside ul li{
    list-style: none;
   /* padding: 1px;
   display: flex;
   
}

.nav2 li a:hover {
    background-color: #cbad6d;
}


.nav2 li ul{
    display: none;
    position: absolute;
   
   
}
.nav2 li:hover > ul {
    display: block;
}
.nav2 li ul li{
    position: relative;
}
.nav2 li ul li {
    background-color: #398BDC;
    right: -120px;
    top: 15px;
}*/

.AppMain{
    padding: 20px;
    overflow-x: auto;
    overflow-y: auto;
    font-weight: bold;
    font-size: 20px;
    color:black;

}
.AppMain section{
   
    height: 50vh;
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.AppMain section h1{
    color: white;
    font-size: 50px;
    font-weight: bold;
}