w-modal {
    overflow-y: scroll;

    opacity: 0;
    transition: all 1s;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

w-modal .ModalContent {
    position: absolute;
    width: 60%;
    top: 15%;
    left: 20%;
    height: auto;
    max-width: 2000px;
    background-color: var(--color-main);
    border-radius: 0.4cm;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

w-modal .ModalHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding-left: 100px;
    padding-right: 100px;
}

w-modal .ModalHeader label {
    font-size: 24px;
    font-weight: bold;
}
.ModalContentComponent{
    padding: 15px;
}
/*******AQUIOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO******/
f-modal {
    overflow-y: scroll;

    /* display:none; */
     opacity: 0;
     transition: all 1s;
     position: fixed;
     top:0;
     left: 0;
     bottom: 0;
     right: 0;
     /* #034AA6,#0284A8 ,#049DD9,#04677BF*/
     background-color: rgba(0, 0, 0, 0.233);
 
     /* SOMBRAS CODIGO */
     -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
     -ms-transition: all 0.5s;
     -o-transition: all  0.5s;;
 }
 f-modal .ModalContenta{
    position: absolute;
   left: 40%;
   top: 15%;
    width: 45vh;
    min-height: 38vh;
    border-radius: 20px;
   /* display: flex;*/
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 1;
    background-image: url(../image/Money3.png);
    background-position: 20%;
     /* SOMBRAS CODIGO */
     animation-duration: 1s;
     box-shadow: 0px 0px 66px 1px rgb(23, 6, 170);
     /* -webkit-box-shadow: 0px 0px 66px 1px rgba(0, 0, 0, 0.884); */
     -webkit-box-shadow: 0px 0px 66px 1px#1f1f38;
     -moz-box-shadow:0px 0px 66px 1px rgb(23, 6, 170); ;
 }
 f-modal .ModalHeadera{
     display: flex;
     align-items: center;
     justify-content: space-between;
     height: 80px;
     padding-left: 100px;
     padding-right: 100px;
 }
 f-modal .ModalHeadera label {
      font-size: 36px;
      font-weight:700;
   
     /* width: 100px;*/
      text-align: center;
      margin-top: 50px;
 }
 .ModalContentComponenta{
     padding: 15px;
 }
 .botoncito {
    position: absolute;
    top: 80%;
    font-size: 30px;
    right: 20%;
    width: 60%;
    color: white;
     background-color: #3588c3;
     padding: 9px;
     display: flex;
     justify-content: center;
     align-items: center;
     box-sizing: border-box;
     border-radius: 14px;
     border: none;
     font-weight: bold;
     cursor: pointer;
     box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
     transition: all 0.5s ease 0s;
 }
 .botoncito:hover{
    background-color: #3588c3;
    box-shadow: 0px 15px 20px #5f5f98;
      color: #fff;
      transform: translateY(-7px);
 }
 h5{
    position: absolute;
      font-size: 36px;
      font-weight:700;
     /* width: 100px;*/
      text-align: center;
      margin-top: -50px;
      left: 22%;
 }
 /*************ModalVenta*****************/
 f-modalv {
    /* display:none; */
     opacity: 0;
     transition: all 1s;
     position: fixed;
     top:0;
     left: 0;
     bottom: 0;
     right: 0;
     /* #034AA6,#0284A8 ,#049DD9,#04677BF*/
     background-color: rgba(0, 0, 0, 0.233);
 
     /* SOMBRAS CODIGO */
     -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
     -ms-transition: all 0.5s;
     -o-transition: all  0.5s;;
 }
 f-modalv .ModalContentventa{
    position: absolute;
    left: 40%;
    top: 15%;
     width: 45vh;
     min-height: 38vh;
     border-radius: 20px;
    /* display: flex;*/
     justify-content: center;
     align-items: center;
     background-color: white;
     z-index: 1;
     background-image: url(../image/Money3.png);
   background-position: 20%;
      /* SOMBRAS CODIGO */
      animation-duration: 1s;
      box-shadow: 0px 0px 66px 1px rgb(23, 6, 170);
      /* -webkit-box-shadow: 0px 0px 66px 1px rgba(0, 0, 0, 0.884); */
      -webkit-box-shadow: 0px 0px 66px 1px#1f1f38;
      -moz-box-shadow:0px 0px 66px 1px rgb(23, 6, 170); ;
 }
 f-modalv .ModalContentComponentaventa{
    padding: 15px;
}
.ModalHeaderaventa{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding-left: 100px;
    padding-right: 100px;
}
.ModalContentventa label{
    font-size: 36px;
    font-weight:700;
 
   /* width: 100px;*/
    text-align: center;
    margin-top: 50px;
}

.botonventa{
    position: absolute;
    top: 80%;
    font-size: 30px;
    right: 20%;
    width: 60%;
    color: white;
     background-color: #4db5ff;
     padding: 9px;
     display: flex;
     justify-content: center;
     align-items: center;
     box-sizing: border-box;
     border-radius: 14px;
     border: none;
     font-weight: bold;
     cursor: pointer;
     box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
     transition: all 0.5s ease 0s;
}
.botonventa:hover{
    background-color: #3588c3;
    box-shadow: 0px 15px 20px #5f5f98;
      color: #fff;
      transform: translateY(-7px);
 }
 .botonventa1{
    position: absolute;
    top: 500%;
    font-size: 30px;
    right: 8%;
    width: 94%;
    color: white;
     background-color: #4db5ff;
     padding: 9px ;
     display: flex;
     justify-content: center;
     align-items: center;
     box-sizing: border-box;
     border-radius: 14px;
     border: none;
     font-weight: bold;
     cursor: pointer;
     box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
     transition: all 0.5s ease 0s;
 }
 .botonventa1:hover{
    background-color: #3588c3;
  box-shadow: 0px 15px 20px #5f5f98;
    color: #fff;
    transform: translateY(-7px);
 }
 h5{
    position: absolute;
      font-size: 36px;
      font-weight:700;
     /* width: 100px;*/
      text-align: center;
      margin-top: -50px;
      left: 20%;
      color:black;
 }
 /***********MODALREFACTURA**********/
 w-modalrefact {
    overflow-y: scroll;

    opacity: 0;
    transition: all 1s;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

w-modalrefact .ModalContentrefact {
    width: 80%;
    top: 5%;
    max-width: 2000px;
    background-color: var(--color-main);
    border-radius: 0.4cm;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

w-modalrefact .ModalHeaderrefact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding-left: 100px;
    padding-right: 100px;
}

w-modalrefact .ModalHeaderrefact label {
    font-size: 24px;
    font-weight: bold;
}
.ModalContentComponentrefact{
    padding: 15px;
}